<div class = "md:w-1/2 flex flex-col items-center gap-8">
    <H1 class = "text-blue-500 font-bold text-xl"> This is Connect 4 </H1>
    <%= button_to "Reset", "index/reset", method: :post, id: "reset", class: "bg-zinc-600 rounded-md text-white font-bold px-3 py-2" %>


    <div id = "gameboard" class = "grid grid-cols-7 space-x-1 space-y-1 w-10/12 md:w-1/2">
        <% 6.times do |row| %>
            <% 7.times do |col| %>
                
                <% player = grid[col][5-row] %>
                <div id="<%= "div_" + col.to_s + '_' + row.to_s %>" class="aspect-square border-zinc-600 border-2 rounded-md">
                    <div class="<%= 'aspect-square rounded-md m-1 ' + (player ? (player == 1 ? 'bg-red-500' : 'bg-yellow-500'): "") %>"></div>
                </div>
            <% end %>
        <% end %>
        
        <% 7.times do |index| %>
            <button id="<%= "button_" + index.to_s %>" class = "h-8 bg-blue-500 font-bold text-xl rounded-md">^</button>
        <% end %>
    </div>
    <div id = "output" class = "text-blue-400 font-semibold text-lg"></div>
    <H2 id = "output_win" class = "text-blue-500 font-bold text-5xl"></H2>
</div>


<%= javascript_include_tag 'startscript' %>